body {
  width:240px;
  margin: 0;
}
a {
  outline: none;
  text-decoration: none;
}
.language {
  background: #FB1C1C;
  color: #fff;
  text-align: center;
  width: 2em;
  line-height: 1.4em;
  border-radius: .6em;
  margin-right: .1em;
  display: inline-block;
  font-size: 90%;
}
body > p {
  margin: 0;
  padding: 1em;
}
body > ul {
  margin: 0;
  padding: .5em 0;
  list-style: none;
}
body > ul > li {
}
body > ul > li > a,
body > ul > li > div {
  display: block;
  color: inherit;
  white-space: nowrap;
  line-height: 2em;
  text-overflow: ellipsis;
  overflow: hidden;
  padding: 0 1em;
}
body > ul > li > div.is-self {
  opacity: .3;
}
body > ul > li > a:hover {
  background: rgba(0,0,0,.1);
}
body > header {
  border-bottom: 1px dotted #ddd;
  padding: .9em 1em .9em;
  color: #ccc;
  text-align: center;
}
body > footer {
  border-top: 1px dotted #ddd;
  padding: .3em 1em .5em;
  color: #ccc;
  text-align: center;
}
